@media screen and (min-width:64em){
    /* pc styling */

    h1 {
        font-size:36px;
        margin-left:16px;
    }

    h1 span:after{
        background-size: 6px 6px;
        height: 6px;
        width: 100%;
        left:-16px;
    }

    h1:after{
        font-size:18px;
        margin-top:8px;
        
    }

    h3 {
        font-size:24px;
        padding-left: 30px;
        margin-bottom: 2px;
    }
    
    h3:before {
        height: 18px;
        width: 18px;
        border-radius: 6px;
        top:0;
        bottom:0;
        left:5px;
    }
    
    h3:after {
        background-size: 4px 4px;
        height: 4px;
        width: 100%;
        left: -5px;
    }

    .mobile{
        display:none;
    }
    .pc{
        display:block;
    }

    .container{
        margin:0 72px;
    }

    form input {
        height:48px;
        border-radius: 15px;
        width:300px;
        padding:5px 20px; 
    }

    form input::placeholder,
    form textarea::placeholder {
        font-size:18px;
    }

    /* header */

    .header {
        height:auto;
        padding:0;
    }

    .header-content{
        padding:36px 48px 24px 48px;
        margin:0 auto;
        width:98%;
    }

    .header-logo{
        margin-right:48px;
    }

    .header-logo svg{
        height:32px;
    }

    .gnav {
        font-size:24px;
        margin-top:6px;

    }

    .gnav-list{
        display:flex;
    }

    .gnav-list a{
        color: var(--brown);
    }

    .gnav-list li+li{
        margin-left:24px;
    }

    .header-right-nav-pc{
        display:flex;
        height:42px;
    }

    .header-right-nav-pc li{
        text-align:center;
        width:60px;  
    }
    .header-right-nav-pc i{
        width:60px;
        height:24px;
    }

    .header-right-nav-pc p{
        
        font-size:12px;
        font-weight: bold;
        color: var(--brown);
        padding: 5px 0 0 0;
        margin:0;
    }

    .header-right-nav-pc li+li{
        margin-left:24px;
    }

    header:after{
        width:98%;
    }

    /* Main */

    .main section:first-child{
        padding-top:140px;
    }

    .main section {
        margin-bottom: 140px;
    }

    /* Search */

    #main .search-content {
        padding-top:120px;
        margin-left:54px;
    }

    input[type="search"] {
        font-size:18px;
    }

    .search-content button {
        height:47px;
        width:47px;
        border-radius: 15px;
        margin-left:6px;

    }

    .search-content i {
        font-size: 24px;
    }



    /* MV */

    .MV {
        margin:0 0 80px; /* margin-bottom:80px に変更不可 */
    }

    .MV-img {
        box-shadow:10px 10px 15px #b2b2b2;
        border-radius: 50px;
        width:90%;
    }

    .MV-content svg{
        height:48px;
        margin-bottom: 16px;
        stroke: var(--lightbrown);
        stroke-width:2px;
        stroke-opacity:0.8;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    .MV-content p{
        font-size:24px;
    }


    /* Contact */

    .contact-content {
        width:fit-content;
        margin: 72px auto 0;
    }

    .contact-content-text {
        font-size:20px;
        margin-left:10px;
        margin-bottom: 64px;
    }

    .contact-form {
        margin-left: 20px;
    }

    .contact-form-text {
        font-size: 16px;
    }

    .contact-form-content p{
        font-size: 18px;
        margin-left: 4px;
        margin-bottom:6px;
    }

    .contact-form-input,
    .contact-form-textarea {
        width:500px;
    }


    /* Guide */

    .guide-nav {
        display:flex;
        width:500px;
        margin-left:160px;
        justify-content: space-between;
    }

    .guide-nav-list {
        font-size: 18px;
    }

    .guide-nav-list li+li {
        margin-top:24px;
    }

    .guide-content article {
        padding-top: 96px;
    }

    .guide-content-text {
        margin-top:64px;
        margin-left: 10%;
        margin-right: 10%;
        font-size:18px;
        line-height: 24px;
    }

    .guide-content-text p{
        margin-bottom: 30px;
    }

    .guide-content-list li {
        padding-left:18px;
    }
    
    .guide-content-list li:before{
        height:12px;
        width: 12px;
    }


    

    /* Footer */

    .footer-content {
        padding: 72px 8% 48px;
        margin:auto;
    }

    .footer-upper {
        display:flex;
        justify-content: space-between;
        width:100%;
        margin-bottom:48px;
    }

    .footer-left {
        text-align:left;
    }

    .footer-logo svg {
        height:32px;
    }

    .footer-logo p{
        font-size:18px;
        margin-top:12px;
    }

    .footer-logo {
        margin-bottom:32px;
    }

    .sns i{
        font-size:32px;
    }

    .sns img {
        height: 30px;
    }

    .nav-sns {
        margin-left:0;
    }

    .nav-sns li+li {
        margin-left: 20px;
    }

    .footer-right {
        margin:0;
    }

    .footer-right a{
        font-size:18px;
    }

    .footer-right li+li {
        margin-top:18px;
    }
     .footer-right-1 {
        margin-right: 72px;
    }

    .copy {
        text-align:left;
    }

    .copy p {
        font-size:14px;
    }

    .footer-before {
        padding-right:30px;
        padding-bottom: 20px;
    }
    
    .footer-before-button {
        border: 3px solid var(--lightbrown);
        border-radius: 7px;
        height: 64px;
        width: 64px;
    }
    
    .footer-before-button p{
        margin:0;
        font-size: 16px;
        font-weight: bold;
    }
    
    .footer-before-button i{
        color: var(--lightbrown);
        margin-top:10px;
        font-size:20px;
    }






    

    


}
