@media screen and (min-width:64em){
    /* pc styling */
    h1 {
        font-size:36px;
    }

    h3 {
        font-size:18px;
    }
    .mobile{
        display:none;
    }
    .pc{
        display:block;
    }

    /* header */

    .header {
        height:auto;
        padding:0;
    }

    .header-content{
        padding:36px 48px 24px 48px;
        margin:0 auto;
        width:98%;
    }

    .header-logo{
        margin-right:48px;
    }

    .header-logo .pc{
        display:block;
        height:25px;
    }

    .gnav .pc{
        display:block;
        font-size:24px;
    }

    .gnav-list{
        display:flex;
        color: var(--brown);
    }

    .gnav-list li+li{
        margin-left:24px;
    }

    .header-right-nav-pc{
        display:flex;
        height:42px;
    }

    .header-right-nav-pc li{
        text-align:center;
        width:60px;  
    }
    .header-right-nav-pc i{
        width:60px;
        height:24px;
    }

    .header-right-nav-pc p{
        
        font-size:12px;
        font-weight: bold;
        color: var(--brown);
        padding: 5px 0 0 0;
        margin:0;
    }

    .header-right-nav-pc li+li{
        margin-left:24px;
    }

    header:after{
        width:98%;
    }

    /* Main */

    .MV {
        margin-top:160px;
    }

    .MV img {
        box-shadow:10px 10px 15px #686868;
        border-radius: 50px;
    }

    /* Footer */
    .footer-upper {
        display:flex;
        justify-content: space-between;
        width:100%;
        margin-bottom:48px;
    }

    .footer-content {
        padding: 72px 0 48px;
        width:84%;
        margin:auto;
    }

    .footer-left {
        text-align:left;
    }

    .footer-logo img {
        height:32px;
    }

    .footer-logo p{
        font-size:18px;
        margin-top:12px;
    }

    .footer-logo {
        margin-bottom:32px;
    }

    .sns i{
        font-size:32px;
    }

    .sns img {
        height: 30px;
    }

    .nav-sns {
        margin-left:0;
    }

    .nav-sns li+li {
        margin-left: 20px;
    }

    .footer-right {
        margin:0;
    }

    .footer-right a{
        font-size:18px;
    }

    .footer-right li+li {
        margin-top:18px;
    }
     .footer-right-1 {
        margin-right: 72px;
    }

    .copy {
        text-align:left;
    }

    .copy p {
        font-size:14px;
    }






    

    


}
