/* font-family: 'Notable', sans-serif; */
/* font-family: 'Zen Kaku Gothic New', sans-serif; */

/* Color */

:root{
    --darkbrown:#463F3A;
    --brown:#8A817C;
    --lightbrown:#BCB8B1;
    --beige:#F4F3EE;
    --pink:#E0AFA0;
    --white:#FFFFFF;
}


/* Default Styling */

*,*::before,*::after{
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background-color:var(--beige);
    font-family:'Futura','Century Gothic','Zen Kaku Gothic New', sans-serif;
}

.pc {
    display:none;
}

ul{
    margin:0;
    padding-left:0;
    list-style:none;
}

a{
    text-decoration: none;
}

.container{
    margin:0 25px;
}

h1{
    font-size:24px;
    margin:0;
    color:var(--brown)
}


h1:after{
    display:block;
    position:relative;
    bottom:0;
    content:'';
    width: 100%;
    margin: 0 auto;
    border-bottom:2px dotted var(--lightbrown);

}

h3{
    margin:2px 0 0 0;
    font-size:12px;
    color: var(--pink);
    font-family:'Zen Kaku Gothic New', sans-serif;
}

.form-input {
    height:36px;
    border-radius: 10px;
    border: 1px solid var(--lightbrown);
    background-color:var(--white);
    padding:6px 15px;
    text-decoration:none;
}

button {
    border:none;
}

/* header */

.header {
    position:fixed;
    width:100%;
    top:0;
    left:0;
    background-color:var(--beige);
    opacity:0.9;
    height:auto;
    z-index:3;

}

.header-content{
    
    display:flex;
    align-items:center;
    justify-content: space-between;
    width:96%;
    padding:16px 20px 10px;
    margin:auto;
    font-size:20px;
    border-bottom:0.4px solid var(--lightbrown)
    
}


.header-left{
    display:flex;
}

.header-logo .mobile{
    height:22px;
}

.gnav{
    margin-right:24px;
}

.gnav i{
    font-size:24px;
}

.mobile .click {
    display:none;
}


.header-right-nav{
    display:flex;
}

.header-right-nav li+li{
    margin-left:20px
}

.icon{
    color: var(--brown);
}

.header-line{
    
    z-index:1;
    position:relative;
    width:96%;
    margin: auto;
    background:var(--lightbrown);
    height:0.4px;
    border-radius:0.2px;
    
}

#modalOpen {
    border:none;
    width:32px;
}



/* Modal */

.modal {
    display:none;
    background-color:var(--beige);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:500px;
    z-index:3;
    
}
.modal-button-content{
    width:96%;
    padding-top:16px;
    padding-left:20px;
    margin:auto;
}

#modalClose{
    border:none;
    width:32px;
}

#modalClose i{
    font-size:28px;
}

.modal-content{
    width:270px;
    margin:96px auto;
}
.modal p{
    font-size:18px;
    margin-bottom:3px;
    margin-top:0;
    color:var(--brown);
}

.modal span{
    font-size:12px;
    color:var(--brown);
}

.modal-list li{
    padding:10px 30px;
    border-bottom:solid 0.5px var(--lightbrown);
}

.modal-list li:last-child{
    border:none;
}


/* Animation */
.fadeIn {
    animation-name:fadeIn;
    animation-duration:0.4s;
    animation-timing-function:ease-out;
    animation-fill-mode:forwards;

}

.fadeOut{
    animation-name:fadeOut;
    animation-duration:0.3s;
    animation-timing-function:linear;
    animation-fill-mode:forwards;

}

@keyframes fadeIn{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

@keyframes fadeOut{
    0%{
        opacity:1;
    }
    100%{
        opacity:0;
        display:none;
    }
}
/* main */
.main section:first-child{
    margin-top:72px;
}

.main section{
    margin-bottom:48px;
}

/* Search */

.main .search-content{
    display:flex;
    justify-content: flex-end;
    margin-bottom:36px;
}

.search-content button{
    background-color:var(--brown);
    height:35px;
    width:35px;
    border-radius: 10px;
    margin-left:3px;
    padding: 0;
}

.search-content form {
    display:flex;
    align-items:center;
}

.search-content i{
    font-size:18px;
    color:var(--beige);
}



/* MV */

.MV-img{
    margin:0 auto;
    box-shadow:5px 5px 10px #b2b2b2;
    border-radius:50%;
}

.MV {
    margin:0 0 60px;
    position:relative;
    width:100%;
    text-align:center;
}

.MV-content {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    text-align:center;
    opacity:0.8;
    width: 205px;
    height:fit-content;
}

.MV-content svg{
    fill:var(--white);
}


.MV-content p{
    font-size:18px;
    color:var(--white);
    margin-bottom:0;
}

/* Footer */
.footer{
    background-color:var(--brown);
}

.footer-content {
    padding:48px 0;
}

.footer p{
    color:var(--lightbrown);
}

.footer-left{
    text-align:center;
}

.footer-logo svg{
    height:24px;
    fill:var(--lightbrown);
}

.footer-logo p{
    font-size:12px;
    margin-top:8px;
}

.footer-logo {
    margin-bottom:24px;
}

.sns i{
    font-size:24px;
    color:var(--lightbrown);
}

.nav-sns {
    display:flex;
    width:fit-content;
    margin:auto;
}

.nav-sns li+li{
    margin-left:16px;
}

.footer-left {
    margin-bottom:48px;
}

.footer-right {
    display:flex;
    width:fit-content;
    margin:auto;
} 

.footer-right a{
    color:var(--lightbrown);
    font-size:14px;
}

.footer-right li+li {
    margin-top:6px;
}

.footer-right-1 {
    margin-right:48px;
}

.footer-right {
    margin-bottom:64px;
}

.copy {
    text-align:center; 
}

.copy p{
    font-size:12px;
}





