/* Color */

:root{
    --darkbrown:#5C534D;
    --brown:#8A817C;
    --lightbrown:#BCB8B1;
    --beige:#F4F3EE;
    --pink:#E0AFA0;
    --white:#FFFFFF;
}


/* Default Styling */

*,*::before,*::after{
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background-color:var(--beige);
    font-family:'Futura','Century Gothic','Zen Kaku Gothic New', sans-serif;
}

.pc {
    display:none;
}

.container{
    margin:0 30px;
}

h1{
    font-size:24px;
    margin:0;
    color:var(--brown)
}

h1:after{
    display:block;
    position:relative;
    bottom:0;
    content:'';
    width: 100%;
    margin: 0 auto;
    border-bottom:2px dotted var(--lightbrown);

}

h3{
    margin:2px 0 0 0;
    font-size:12px;
    color: var(--pink);
    font-family:'Zen Kaku Gothic New', sans-serif;
}

ul{
    margin:0;
    padding-left:0;
    list-style:none;
}

form input,
form textarea {
    border-radius: 10px;
    border: 1px solid var(--lightbrown);
    background-color:var(--white);
    text-decoration:none;
    color:var(--darkbrown);

}

form input {
    height:36px;
    padding:6px 15px;
}

form textarea {
    height:320px;
    padding:12px 15px;
    resize: vertical;
}

form input::placeholder,
form textarea::placeholder {
    color:var(--lightbrown);
    font-size:14px;
}

form input:focus-visible, 
form textarea:focus-visible {
    outline:1px var(--lightbrown);
    border:1.5px solid var(--brown);
    color:var(--brown);
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

a{
    text-decoration: none;
    display:block;
}
a:hover {
    opacity:0.8;
}

button {
    border:none;
    cursor: pointer;
}

button:hover{
    opacity:0.8;
}

.button-short{
    background-color: var(--pink);
    color:var(--white);
    height:40px;
    width:150px;
}

input[type="submit"] {
    font-size:16px;
    font-weight:bold;
}

/* header */

.header {
    position:fixed;
    width:100%;
    top:0;
    left:0;
    background-color:var(--beige);
    opacity:0.9;
    height:auto;
    z-index:3;

}

.header-content{
    
    display:flex;
    align-items:center;
    justify-content: space-between;
    width:96%;
    padding:16px 20px 10px;
    margin:auto;
    font-size:20px;
    border-bottom:0.4px solid var(--lightbrown)
    
}


.header-left{
    display:flex;
}

.header-logo {
    margin-top:2px;
}

.header-logo svg{
    height:20px;
    fill:var(--brown);
}

.gnav{
    margin-right:30px;
}

.gnav i{
    font-size:24px;
}

.header-right-nav{
    display:flex;
}

.header-right-nav li+li{
    margin-left:20px
}

.icon{
    color: var(--brown);
}

.header-line{
    
    z-index:1;
    position:relative;
    width:96%;
    margin: auto;
    background:var(--lightbrown);
    height:0.4px;
    border-radius:0.2px;
    
}

#modalOpen {
    border:none;
    width:32px;
    background-color: var(--beige);
}



/* Modal */

.modal {
    display:none;
    background-color:var(--beige);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:500px;
    z-index:3;
    
}
.modal-button-content{
    width:96%;
    padding-top:16px;
    padding-left:20px;
    margin:auto;
}

#modalClose{
    width:32px;
}

#modalClose i{
    font-size:28px;
}

.modal-content{
    width:270px;
    margin:96px auto;
}
.modal p{
    font-size:18px;
    margin-bottom:3px;
    margin-top:0;
    color:var(--brown);
}

.modal span{
    font-size:12px;
    color:var(--brown);
}

.modal-list li{
    padding:10px 30px;
    border-bottom:solid 0.5px var(--lightbrown);
}

.modal-list li:last-child{
    border:none;
}


/* Animation */
.fadeIn {
    animation-name:fadeIn;
    animation-duration:0.4s;
    animation-timing-function:ease-out;
    animation-fill-mode:forwards;

}

.fadeOut{
    animation-name:fadeOut;
    animation-duration:0.3s;
    animation-timing-function:linear;
    animation-fill-mode:forwards;

}

@keyframes fadeIn{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

@keyframes fadeOut{
    0%{
        opacity:1;
    }
    100%{
        opacity:0;
        display:none;
    }
}
/* Main */
.main section:first-child{
    margin-top:96px;
}

.main section{
    margin-bottom:72px;
}

/* Search */

.main .search-content{
    display:flex;
    justify-content: flex-end;
    margin-bottom:24px;
}

.search-content button{
    background-color:var(--brown);
    height:35px;
    width:35px;
    border-radius: 10px;
    margin-left:3px;
}

.search-content form {
    display:flex;
    align-items:center;
}

.search-content i{
    font-size:18px;
    color:var(--beige);
}



/* MV */

.MV {
    margin:0 0 60px; /* margin-bottom:60px に変更不可 */
    position:relative;
    width:100%;
    text-align:center;
}

.MV-img{
    margin:0 auto;
    box-shadow:5px 5px 10px #b2b2b2;
    border-radius:50%;
}

.MV-content {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    text-align:center;
    opacity:0.8;
    height:fit-content;
}

.MV-content svg{
    height:36px;
    fill:var(--white);
}


.MV-content p{
    font-size:18px;
    color:var(--white);
    margin-bottom:0;
}

/* Contact */

.contact-content {
    width:80%;
    margin: 30px auto;
}

.contact-content p{
    color:var(--darkbrown);
}

.contact-content-text {
    margin:0 0 36px;
}

.contact-form-content {
    margin-bottom:36px
}

.contact-form-input,
.contact-form-textarea {
    width:100%;
}


.contact-form-content p{
    margin-bottom:4px;
    margin-left:4px;
}

.contact-content span{
    color:var(--pink);
    margin-left:10px;
}

.contact-content .option {
    background-color: var(--lightbrown);
    color:var(--beige);
    font-size:12px;
    padding:1.5px 5px;
    border-radius: 5px;;
}

.contact-form-text span{
    margin-left:0;
}

.contact-form-text{
    font-size:12px;
}

.contact-form-button {
    text-align:center;
}

/* Footer */
.footer{
    background-color:var(--brown);
}

.footer-content {
    padding:48px 0;
}

.footer p{
    color:var(--lightbrown);
}

.footer-left{
    text-align:center;
}

.footer-logo svg{
    height:24px;
    fill:var(--lightbrown);
}

.footer-logo p{
    font-size:12px;
    margin-top:8px;
}

.footer-logo {
    margin-bottom:24px;
}

.sns i{
    font-size:30px;
    color:var(--lightbrown);
}

.sns svg{
    height:24px;
    fill:var(--lightbrown);
}

.nav-sns {
    display:flex;
    width:fit-content;
    margin:auto;
    align-items:baseline;
}

.nav-sns li+li{
    margin-left:24px;
}

.footer-left {
    margin-bottom:48px;
}

.footer-right {
    display:flex;
    width:fit-content;
    margin:auto;
} 

.footer-right a{
    color:var(--lightbrown);
    font-size:14px;
}

.footer-right li+li {
    margin-top:10px;
}

.footer-right-1 {
    margin-right:48px;
}

.footer-right {
    margin-bottom:64px;
}

.copy {
    text-align:center; 
}

.copy p{
    font-size:12px;
}





